.THIS.alignRight{
  /* margin-left:43%;*/
  /*position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0%, -50%);*/

}
.THIS .iconClass{
    background:black;
}
.THIS.Headercontainer{
    width: 100%;
    margin: auto;
    /*text-align:center;*/
    height:50px;
}
.THIS .sectionHeaderName{
    width: 30%;
    float: left;
    font-weight: bold;
    font-size: larger;
}
.THIS .buttonSection{
    margin-left: 0%;
    text-align:center;
}
.THIS.scroll_X_Y{
    width:100%;
    max-height: 500px; 
    overflow-y:auto;
    overflow-x:auto;
}
.THIS .slds-spinner:before, .THIS .slds-spinner__dot-a:before, .THIS .slds-spinner__dot-b:before, .THIS .slds-spinner:after, .THIS .slds-spinner__dot-a:after, .THIS .slds-spinner__dot-b:after{background:#009ACD;}